@font-face {
    font-family: 'Clash Display';
    src: url('fonts/ClashDisplay-Variable.ttf');
}

@font-face {
    font-family: 'Archivo';
    src: url('fonts/Archivo-Variable.ttf');
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Archivo';
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    background-color: #212121;
    color: #f1f1f1;
    padding: 16px;
}

.main-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 32px;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
}

form input[type="text"] {
    flex-basis: 80%;
    background-color: #111111;
}

form input[type="submit"] {
    flex-basis: 18%;
    cursor: pointer;
    background-color: #434343;
    transition: 0.3s background;
}

form input[type="submit"]:hover {
    background-color: #313131;
    
}

form .message {
    color: rgb(211 47 47);
    position: absolute;
    bottom: -25px;
    left: 6px;
    font-size: 14px;
    display: none;
}

form input {
    font-size: 18px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #636363;
    color: #f1f1f1;
    padding: 8px 16px;
}

.card {
    padding: 32px;
    border: 1px solid #636363;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    max-width: 427px;
    background-color: #111111;
    display: none;
}

.card .image {
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 200px;
}

.card h2 {
    font-family: 'Clash Display';
    font-weight: 500;
    text-align: center;
}

.card h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 6px;
    text-align: center;
}

.card .info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 16px;
}

.card .info div {
    border: 1px solid #8a8a8a;
    padding: 4px 13px;
    border-radius: 30px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card .info .count {
    display: inline-flex;
    padding: 5px;
    background-color: #63636393;
    border-radius: 100px;
    margin-left: 8px;
    min-width: 30px;
    min-height: 30px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}


@media screen and (max-width: 700px) {
    .main-container {
        width: 100%;
    }

}
@media screen and (max-width: 450px) {

    form {
        flex-direction: column;
        align-items: flex-start;
    }

    form input[type="text"] {
        width: 100%;
    }

    form input[type="submit"] {
        width: 40%;
    }
    
    .card .image {
        width: 100px;
        height: 100px;
    }
}